---
import Layout from '../../layouts/MainLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import LanguageSwitcher from '../../components/LanguageSwitcher.astro';
---
<Layout title="About Me" description="About Me">
  <h1>About Me</h1>
  <p>
    Hi! My name is Roxy, proud mother of four children. With over 20 years of experience in childcare, childminding, and coaching, I have developed a passion for guiding and inspiring both children and adults.
  </p>
  <p>
    I believe that everyone is unique and deserves to grow in their own way. From that conviction, I help others to get the best out of themselves, both personally and professionally.
  </p>
  <p>
    With Mameleon, I want to share my knowledge, experience, and enthusiasm to build an inspiring future together!
  </p>
</Layout>
