---
import Layout from '../../layouts/MainLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
---
<html lang="en">
  <body>
    <Layout title="Over Mij" description="Over Mij">
      <h1>Over Mij</h1>
      <p>
        Hoi! Mijn naam is Roxy, trotse moeder van vier kinderen. Met meer dan 20 jaar ervaring in de kinderopvang, gastouderopvang en coaching, heb ik een passie ontwikkeld voor het begeleiden en inspireren van kinderen én volwassenen.
      </p>
      <p>
        Ik geloof dat iedereen uniek is en het verdient om te groeien op zijn of haar eigen manier. Vanuit die overtuiging help ik anderen om het beste uit zichzelf te halen, zowel op persoonlijk als professioneel vlak.
      </p>
      <p>
        Met Mameleon wil ik mijn kennis, ervaring en enthousiasme delen om samen te bouwen aan een inspirerende toekomst!
      </p>
    </Layout>
  </body>
</html>
