---
import Layout from '../layouts/MainLayout.astro';
import { getLangProps } from '../utils/lang.js';

const { lang, nlPath, enPath } = getLangProps(Astro.url.pathname);
---
<Layout lang={lang} nlPath={nlPath} enPath={enPath} ...>
  <h1>🧑 Welcome to Mameleon!</h1>
  <p>
    Thank you for visiting our website. Mameleon is a new and ambitious company specializing in developing inspiring materials in the field of coaching and personal growth.
  </p>
  <p>
    We believe everyone has the ability to grow and develop. That's why we create practical tools, training, and content to help you get the best out of yourself—both personally and professionally.
  </p>
  <p>
    Our website is currently under construction. Soon you'll find more information about our services, products, and inspiring stories here. Do you have questions or want to collaborate? Feel free to <a href="/en/contact">contact</a> us!
  </p>
</Layout>