---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About Me"
	pubDate={new Date('June 02 2025')}
	heroImage="/mameleon.png"
>
	<p>
		This site is under construction.
	</p>
</Layout>
