---
import Layout from '../layouts/MainLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---
<html lang="en">
  <body>
    <Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
      <h1>Bedankt voor je bericht!</h1>
      <p>
        Bedankt voor je bericht we nemen zo spoedig mogelijk contact met je op.
      </p>
    </Layout>
  </body>
</html>
