---
import Layout from '../layouts/MainLayout.astro';
import { getLangProps } from '../utils/lang.js';

const { lang, nlPath, enPath } = getLangProps(Astro.url.pathname);
---

<Layout title={lang === 'en' ? 'Thank You' : 'Bedankt'} description={lang === 'en' ? 'Thank You' : 'Bedankt'} lang={lang} nlPath={nlPath} enPath={enPath}>
  <h1>{lang === 'en' ? 'Thank You!' : 'Bedankt!'}</h1>
  <p>
    {lang === 'en'
      ? "Your message has been received. We will contact you as soon as possible."
      : "Je bericht is ontvangen. We nemen zo snel mogelijk contact met je op."
    }
  </p>
</Layout>
