---
import Layout from '../layouts/Contact.astro';
---

<Layout
	title="Contact"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-3.jpg"
>
	<p>
		Voor contact kun je het beste een bericht achterlaten op één van onze socials
	</p>

</Layout>
