---
import Layout from '../layouts/MainLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---
    <Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
      <h1>Downloads</h1>
      <p>
        Zie hieronder voor mijn downloads
      </p>
    </Layout>
