---
import Layout from '../layouts/MainLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---
<html lang="en">
  <head>
    <title>{SITE_TITLE}</title>
    <meta name="description" content={SITE_DESCRIPTION} />
    <script>
      if (location.hostname === 'mameleon.com') {
        location.href = 'https://www.mameleon.com' + location.pathname + location.search + location.hash;
      }
    </script>
  </head>
  <body>
    <Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
      <h1>🧑 Welkom bij Mameleon!</h1>
      <p>
        Fijn dat je onze website bezoekt. Mameleon is een nieuw en ambitieus bedrijf, gespecialiseerd in het ontwikkelen van inspirerende materialen op het gebied van coaching en persoonlijke groei.
      </p>
      <p>
        Wij geloven dat iedereen het vermogen heeft om te groeien en zich te ontwikkelen. Daarom creëren wij praktische tools, trainingen en content die jou helpen het beste uit jezelf te halen – zowel persoonlijk als professioneel.
      </p>
      <p>
        Onze website is momenteel in aanbouw. Binnenkort vind je hier meer informatie over onze diensten, producten en inspirerende verhalen. Heb je vragen of wil je samenwerken? Neem gerust <a href="https://www.mameleon.com/">contact</a> met ons op!
      </p>
    </Layout>
  </body>
</html>
