<h1>Privacyverklaring</h1>

<p>Mameleon, gevestigd te Wijk bij Duurstede, hecht veel waarde aan de bescherming van jouw persoonsgegevens. In deze privacyverklaring leggen we uit welke gegevens we verzamelen en hoe we hiermee omgaan.</p>

<p><strong>1. Persoonsgegevens die wij verwerken</strong><br>
Wij verwerken de volgende gegevens:<br>
- Voor- en achternaam<br>
- E-mailadres<br>
- Telefoonnummer<br>
- Betaalgegevens<br>
- Inhoud van communicatie (zoals ingevulde formulieren of e-mails)</p>

<p><strong>2. Doel van de verwerking</strong><br>
Jouw gegevens worden gebruikt voor:<br>
- Het leveren van producten en diensten<br>
- Facturatie en administratie<br>
- Contact over afspraken of ondersteuning<br>
- Verbetering van onze dienstverlening<br>
- Versturen van nieuwsbrieven (alleen bij aanmelding)</p>

<p><strong>3. Bewaartermijn</strong><br>
Wij bewaren persoonsgegevens zolang als nodig is voor het doel waarvoor ze zijn verzameld, of zolang als wettelijk vereist.</p>

<p><strong>4. Verstrekking aan derden</strong><br>
Jouw gegevens worden niet gedeeld met derden, tenzij dit nodig is voor uitvoering van de overeenkomst of op grond van een wettelijke verplichting.</p>

<p><strong>5. Beveiliging</strong><br>
Mameleon neemt passende beveiligingsmaatregelen om jouw gegevens te beschermen tegen misbruik, verlies of ongeoorloofde toegang.</p>

<p><strong>6. Rechten</strong><br>
Je hebt recht op inzage, correctie en verwijdering van je gegevens. Neem hiervoor contact op via onderstaand e-mailadres.</p>

<p><strong>7. Wijzigingen</strong><br>
Wij behouden ons het recht voor deze privacyverklaring te wijzigen. De meest recente versie is altijd beschikbaar op onze website.</p>

<p><strong>8. Contactgegevens</strong><br>
Mameleon<br>
Wijk bij Duurstede<br>
E-mailadres: <a href="mailto:info@mameleon.nl">info@mameleon.nl</a></p>
