---
import SocialLinks from './SocialLinks.astro';
const today = new Date();
---
<footer>
  <div class="footer-content">
    <div>
      © {today.getFullYear()} Mameleon
    </div>
    <SocialLinks />
  </div>
  <style>
    footer {
      text-align: center;
      padding: 2em 0 1.5em 0;
      background: transparent;
      font-size: 1.1em;
    }
    .footer-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5em;
    }
  </style>
</footer>
