---
const today = new Date();
---

<footer style="text-align:center; padding: 1.5em 0; background: transparent;">
  <div>
    © {today.getFullYear()} Mameleon
  </div>
  <div style="margin-top: 0.5em;">
    <a href="https://www.instagram.com/jouwaccount" target="_blank" rel="noopener" style="margin: 0 0.5em;">
      <img src="/icons/instagram.svg" alt="Instagram" width="24" height="24" />
    </a>
    <a href="https://www.facebook.com/jouwaccount" target="_blank" rel="noopener" style="margin: 0 0.5em;">
      <img src="/icons/facebook.svg" alt="Facebook" width="24" height="24" />
    </a>
    <a href="mailto:info@mameleon.com" style="margin: 0 0.5em;">
      <img src="/icons/mail.svg" alt="E-mail" width="24" height="24" />
    </a>
  </div>
</footer>
