---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { title, description } = Astro.props;
---

<BaseHead title={title} description={description} />
<meta name="viewport" content="width=device-width,initial-scale=1">
<script>
  if (location.hostname === 'mameleon.com') {
    location.href = 'https://www.mameleon.com' + location.pathname + location.search + location.hash;
  }
</script>
<Header />
<main>
  <slot />
</main>
<Footer />